<div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        name="title"
        id="title"
        placeholder="title"
        value="{{task.title}}"
      />
    </div>

<div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea
        class="form-control"
        name="description"
        id="description"
        rows="3"
      >{{task.description}}</textarea>
    </div>